{% extends 'locadora/base.html' %}

{% block content %}
<div class="container my-3">
    <div class="card mx-auto" style="width: 18rem;">
        {% if usuario.foto %}
            <img src="{{ usuario.foto.thumb.url }}" class="card-img-top" alt="Foto de {{ usuario.nome }}">
        {% else %}
            <img src="" class="card-img-top" alt="Sem foto {{ usuario.nome }} ">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ usuario.nome }}</h5>
            <p class="card-text"><strong>Telefone:</strong> {{ usuario.telefone }}</p>
            <p class="card-text"><strong>Gênero:</strong> {{ usuario.get_genero_display }}</p>
            <p class="card-text"><strong>CPF:</strong> {{ usuario.cpf }}</p>
        </div>
    </div>
</div>

<div class="container my-3">
    <div class="row">
        <div class="col text-center">
            <a href="{% url 'usuarios' %}" class="btn btn-primary"> Lista de  Usuarios</a>
            <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-info">Editar usuario</a>
        </div>
    </div>
</div>

{% endblock %}
